.wrapper {
    padding-right: 10px;
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px dashed teal;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(350deg) scale(1.5);
    }
}