.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.486);
    z-index: 2;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent { 
    max-width: 85vw;
    width: 400px;
    border-radius: 2px;
    padding: 25px;
    background-color: white;
}