* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../media/fonts/Open_Sans/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 500;
    font-style: normal;
    src: url('../media/fonts/Open_Sans/OpenSans/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url('../media/fonts/Open_Sans/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../media/fonts/Open_Sans/OpenSans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    src: url('../media/fonts/Open_Sans/OpenSans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poiret One';
    font-weight: 400;
    font-style: normal;
    src: url('../media/fonts/Poiret_One/PoiretOne-Regular.ttf');
}

a {
    text-decoration: none;
    color: white;
}

// overwrite part
.collapsible-body { padding: 1rem; border-bottom: 0; .row {margin-bottom: 0.5em;} }
.collapsible-header {border: 0; align-items: center;}
.collapsible { box-shadow: none; border: 0;}

.input-field textarea[type=text]:focus {
    border-bottom: 1px solid #456c86;
    box-shadow: 0 1px 0 0 #456c86;
}

.input-field textarea[type=text]:focus + label {
    color: #456c86;
}

.btn {
    box-shadow: none;
}