@import '~materialize-css/sass/materialize.scss';
@import 'config';

body {
    font-family:'Open Sans';
}

.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease-in-out;
    flex: 1 0 auto;
    margin-bottom: 100px;
}
// index component

.main {
    display: flex;
    align-items: center;
    padding: 25px 0;
    img { width: 400px; height: 300px; border: 1px solid lightgray; margin-right: 50px;}
    .text {
        width: 500px;
    }
}



// weather component
.form-weather {
    display: flex;
    position: relative;
    width: 70%;
    padding-bottom: 30px;
}

.select-suggestions {
    width: 100%;
}

.loader-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
    position: relative;
    padding-left: 50px;
}

.city-list {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card-item {
    margin-right: 7px;
    margin-left: 7px;
    width: 270px;
    box-shadow: none;
    font-size: 0.85em;
    transition: background-color 0.2s ease;
    min-height: 435px;
    display: flex;
    flex-direction: column;
}

.card .card-content {
    padding: 20px 20px 0;
}

.card-name {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-basis: auto;
    h4 { margin-bottom: 0; font-size: 2.1em}
    h5 { margin-top: 0.4rem; font-size: 1.4em}
    
}

.card-temp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    color: #ffab40;
    padding-bottom: 20px;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .max-min {
            display: flex;
            color: black;
            justify-content: center;
            .max, .min {display: flex; align-items: center; padding-bottom: 0.1em; i {font-size: 18px;}}
            .max {padding-right: 5px;}
        }

        h1 {
            white-space: nowrap;
            margin: 1.7rem 0 0.2em 0.2em;
        }
    }
}

.card-forecast .element{
    display: flex;
    flex-direction: column;
    align-items: center;
    img {width: 30px; height: 30px;}
}

.card-details {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    &.card-action {padding: 10px 20px;}

    .info {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        i {font-size: 30px;}
        p {font-size: 1.1em;}
    }
    &.darken-3 img {filter: invert(1);}
}

.card-header {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 10px 0 17px;
    width: 100%;
    z-index: 0;
    button {padding: 5px;}
    i {line-height: 1.8rem; font-size: 1.5rem; filter: invert(1);}
    div {flex-grow: 1; img {cursor: inherit;}}
}

.big-icon {
    width: 70px;
    height: 70px;
}

.small-icon {
    width: 25px;
    height: 25px;
}

.close-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

// todo component

.todo-columns {
    display: flex;
    justify-content: center;
    height: 100%;
}

.todo-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    user-select: none;
    padding: 16px; 
    margin: 0 0 8px 0;
    min-height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// timeto component

.showtime {
    font-size: 4em;
    color: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 50px 0;
    
    .days {
        font-family: 'Poiret One';
        padding-right: 50px;
        span { font-size: 3.3em; }
        .text {display: inline;}
    }
    .time { 
        font-family: 'Poiret One';
        display: flex;
        justify-content: flex-end;
        div {width: 500px; padding-left: 100px;}
        span {font-size: 1.5em;} 
    }
   
}