@import '~materialize-css/sass/materialize.scss';
@import 'config';

body {
    font-family:'Open Sans';
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-color: $bc3;
}

.content {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
    flex: 1 0 auto;
    margin-bottom: 100px;
}

// index component
h2.title {
    text-align: center;
    font-size: 2em;
}

@media (min-width: 576px) {
    h2.title {
        font-size: 3.5em;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px;
    img { width: 85vw; height: 80%; max-width: 400px; margin-bottom: 74px; box-shadow: -12px 12px 0 0px #E78D1E}
    .text { 
        font-size: 1.1em; 
        padding: 27px; 
        background-color: $bc1; 
        box-shadow: 12px -12px $bc2;
        max-width: 85vw;
    }
}

@media (min-width: 576px) {
    .main {
        padding: 75px 0 125px;
        .text { padding: 33px 40px; font-size: 1.3em;}
    }
}

@media (min-width: 1024px) {
    .main {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        .text { width: 510px; max-height: 300px;}
        img {margin-right: 50px; margin-bottom: 0; width: 400px; height: 300px;}
    }
}

.link {
    position: relative;
    display: inline-block;
    &::before {
        content: '';
        background-color: aliceblue;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        position: absolute; 
        transform-origin: left;
        transition: opacity .7s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform .8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    &:hover {
        &::before {
            content: '';
            transition: opacity .7s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform .8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transform: scaleX(0);
            transform-origin: right;
            opacity: 0;
        }
    }
    &.small {font-size: small;}
}

@media (min-width: 576px) {
    .link.small {
        font-size: inherit;
    }
}

.bio {
    margin: 50px 0;
    width: 100%;
    font-size: 1.05em;
}

.bio-section {
    background-color: $bc1;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    box-shadow: 0px -15px 0px 0px $bc2;
    img {width: 50px; height: 50px; margin-bottom: 20px;}
    &:nth-of-type(even) {
        background-color: inherit;
        min-height: 300px;
        box-shadow: 0px 0px 0px 15px $bc2;
        color: $bc2;
        img {filter: invert(1);}
    }
    
    .info {
        display: grid;
        grid-template-columns: min-content auto;
        row-gap: 5px;
        column-gap: 10px;
        max-width: 90%;
        span {font-weight: bold; white-space: nowrap;}
    }
    .inside-grid {
        display: grid;
        grid-template-columns: min-content 10px auto;
        column-gap: 7px;
        .box- { grid-column: 2/3; justify-self: center;}
    }
    .box1 { grid-column: 1/2; grid-row: 1/2; }
    .box2 { grid-column: 1/2; grid-row: 2/3; }
    .box3 { grid-column: 1/2; grid-row: 3/4; }
    .box4 { grid-column: 1/2; grid-row: 4/5; span {white-space: inherit;}}
}

@media (min-width: 576px) {
    .bio-section {
        flex-direction: row;
        justify-content: unset;
        padding: 50px 40px;
        .box4 span {white-space: nowrap;}
        img {margin-right: 25px; margin-bottom: 0;}
    }
}

@media (min-width: 1024px) {
    .bio-section {
        padding: 75px 100px;
        &:nth-of-type(even) { justify-content: flex-end; }
        img {width: 100px; height: 100px; margin-right: 50px;}
        .info {width: 440px; font-size: 1.2rem;}
    }
}

// weather component
.form-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 20px 15px;
    padding-bottom: 30px;
    font-size: 16px;
}

@media (min-width: 1024px) {
    .form-weather {
        flex-direction: row;
        width: 70%;
    }
}

.select-suggestions {
    padding-bottom: 20px;
    color: black;
    width: 100%;
}

.loader-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
    position: relative;
}

@media (min-width: 1024px) {
    .loader-button {
        padding-left: 50px;
    }
    .select-suggestions {
        padding-bottom: 0;
    }
}

.city-list {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card-item {
    margin-right: 8px;
    margin-left: 8px;
    width: 270px;
    box-shadow: 5px 5px $bc1;
    border-radius: 0;
    font-size: 0.85em;
    transition: background-color 0.2s ease;
    min-height: 424px; // in mobile font shrinks and height decreases
    display: flex;
    flex-direction: column;
    color: black;
}

.card .card-content {
    padding: 20px 20px 0;
}

.card-name {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-basis: auto;
    h4 { margin-bottom: 0; font-size: 2.1em}
    h5 { margin-top: 0.4rem; font-size: 1.4em}
    
}

.card-temp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    color: #fdb250;
    padding-bottom: 20px;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .max-min {
            display: flex;
            color: black;
            justify-content: center;
            .max, .min {display: flex; align-items: center; padding-bottom: 0.1em; i {font-size: 18px;}}
            .max {padding-right: 5px;}
        }

        h1 {
            white-space: nowrap;
            margin: 1.7rem 0 0.2em 0.2em;
            font-weight: 500;
            font-size: 4.8rem;
        }
    }
}

.card-forecast .element{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5em;
    &:nth-last-of-type(-n+4) {padding-bottom: 0;}
    img {width: 30px; height: 30px;}
}

.card-details {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    &.card-action {padding: 10px 20px;}

    .info {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        i {font-size: 30px;}
        p {font-size: 1.1em;}
    }
    &.darken-4 img {filter: invert(1);}
}

.card-header {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 10px 0 17px;
    width: 100%;
    z-index: 0;
    button {padding: 5px;}
    i {line-height: 1.8rem; font-size: 1.5rem; filter: invert(1);}
    div {flex-grow: 1; img {cursor: inherit;}}
}

.big-icon {
    width: 70px;
    height: 70px;
}

.small-icon {
    width: 25px;
    height: 25px;
}

.close-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

// todo component

.todo-columns {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.todo-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    .list {
        margin: 8px;
    }
    &:nth-of-type(1) .list {box-shadow: -5px 5px 0 0 $bc1;}
    &:nth-of-type(2) .list {box-shadow: 0 5px 0 0 $bc1;}
    &:nth-of-type(3) .list {box-shadow: 5px 5px 0 0 $bc1;}

    .name {
        display: flex; 
        align-items: baseline;
        gap: 15px;
        button {
            transform: rotateZ(0);
            transition: all 0.5s cubic-bezier(0.5, 0.96, 0.75, 0.86);
            color: white;
            border: 1px solid lightgray;
            padding: 0 10px;
            &.active {
                transform: rotateZ(180deg);
            }
        }
    }


    form {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out, opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        &.active {
            max-height: 70px; // height of the form element
            opacity: 1;
            transition: max-height 0.5s ease-out, opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        .wrapper { display: flex; gap: 15px; align-items: center;}
        .input-wrapper { display: flex; flex-direction: column; align-items: center }
        button { font-size: 0.8em; padding: 0 8px; height: 27px; line-height: 27px }
    }
}

.task {
    user-select: none;
    padding: 16px; 
    margin: 0 0 6px 0;
    min-height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.helper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    text-align: center;
    max-width: 85vw;
    img {width: 20px; height: 20px; filter: invert(1);}
}

@media (min-width: 1024px) {
    .todo-columns {
        flex-direction: row;
    }
    .helper {
        flex-direction: row;
    }
}

// timeto component

.showtime {
    font-size: 2.8em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    
    .days {
        font-family: 'Poiret One';
        span { font-size: 3.3em; }
        .text {display: inline;}
    }
    .time { 
        font-family: 'Poiret One';
        display: flex;
        justify-content: flex-end;
        span {font-size: 1.5em;} 
    }  
}

input[type=datetime-local].showtime-input {
    width: 85%;
    font-family: 'Poiret One';
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
    // filter: invert(1);
}

@media (min-width: 576px) {
    .showtime {
        font-size: 4em;
    }
}

@media (min-width: 1024px) {
    .showtime {
        flex-direction: row;
        align-items: baseline;
        .days { padding-right: 50px;}
        .time {
            div {width: 500px; padding-left: 100px;}
        }
    }
    input[type=datetime-local].showtime-input {
        width: 25%;
    }
}