.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 4px solid darkred;
    margin: 1rem 2rem;
    padding-bottom: 1.3em;
    h1 {
        font-size: 2em;
        margin: 15px 0;
    }
}

@media (min-width: 1024px) {
    .navbar {
        flex-direction: row;
        h1 {font-size: 2.5em; margin: 0;}
    }
}

.list {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    a {
        font-weight: 500;
        margin-right: 25px;
        padding: 3px; 
        background-color: inherit;
        &:nth-last-child(1) {margin-right: 0;}
    }
}

@media (min-width: 1024px) {
    .list {
        margin-bottom: 0;
    }
}

.language {
    display: flex;
    justify-content: flex-end;
    padding: 0.7rem 2rem 0;
    :nth-of-type(1) {margin-right: 5px;}
    button {
        background-color: inherit;
        border: none;
        cursor: pointer;
        color: #a09e9e;
        &:focus {background-color: inherit;}
        &.active { color: white; }
    }
}
