.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 1rem;
    h1 {
        font-style: italic;
    }
}

.list {
    display: none;
}

@media (min-width: 1024px) {
    .list {
        display: flex;
    }
}

.language {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem 0;
}
